<div class="header">
  <form action="/auth/login" method="POST" id="form-container">

    <div class="login-container">

      <h2>Your Pet is lost?</h2>
      <div class="slogan">With Pet tracker it's super simple to locate your pet via GPS on the map!</div>
      <label for="email"></label>
      <input id="email" type="text" name="email" placeholder="E-mail Addresse">

      <br>

      <label for="password"></label>
      <input id="password" type="password" name="password" placeholder="Your password">

      <button class="green-btn">Login</button>
      <p class="account-message">
        Don't have an account yet?
        <a href="/auth/signup">Signup</a>
      </p>

    </div>
    <br>
    {{#if message }}
    <div class="error-message" style="color: aliceblue">{{ message }}</div>
    {{/if}}

    <br><br>




  </form>
</div>