<div id='map' style='width: 85vw; height: 60vh; margin:50px auto;'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibHVpenphbHkiLCJhIjoiY2p4dW5rdnRjMDJ5czNnbXk5cG9iMzdzciJ9.O1BubhULe8xO8cypdGAtCQ';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9'
  });
</script>