<div id='map' style='width: 100vw; height: 100vh; margin: 0px;'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibHVpenphbHkiLCJhIjoiY2p4dW5rdnRjMDJ5czNnbXk5cG9iMzdzciJ9.O1BubhULe8xO8cypdGAtCQ';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9'
  });
</script>

<div class="navigation-container">
  <a href="/profile"><i class="fas fa-user"></i> </a>
  <a href="/profile"><i class="fas fa-plus"></i></a>
  <a href="/map"><i class="fas fa-map-marker-alt"></i></a>
</div>