.navigation-container {
  display: flex;
  flex-basis: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  z-index: 3000;
  background-color: white;

  box-shadow: 0px -2px 12px #b0b0b0;
}

.fas {
  font-size: 30px;
  color: #03554b;
}

.fas.fa-sign-out-alt {
  color: #ffff;
  margin-right: 20px;
}

nav {
  height: 50px;
  background-color: #03554c;
  z-index: 30000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 10px #b0b0b0;
}

.logo {
  width: 50%;
  margin-left: 20px;
}

.logo-white {
  width: 10%;
  margin-top: 30px;
}

@media only screen and (max-width: 1040px) {
  .logo-white {
    width: 15%;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 550px) {
  .logo-white {
    width: 40%;
    margin-top: 10px;
    margin-left: 13px;
  }
}

.logo-container {
  margin-left: 65px;
}

@media only screen and (max-width: 890px) {
  .logo-container {
    margin-left: 42px;
  }
}

@media only screen and (max-width: 550px) {
  .logo-container {
    margin-left: 0px;
  }
}
